<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="annotatedClasses">
            <list>
                <value>com.ara.web.entity.AccountEntity</value>
                <value>com.ara.web.entity.CommentEntity</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.connection.url"><![CDATA[jdbc:mysql://localhost:3306/ara_web?useUnicode=true&amp;characterEncoding=UTF-8&amp;autoReconnect=true]]></prop>
                <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
                <prop key="hibernate.connection.username">ara</prop>
                <prop key="hibernate.connection.password">ara</prop>
            </props>
        </property>
    </bean>
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="common" class="com.ara.web.dao.Common">
        <property name="hibernateTemplate" ref="hibernateTemplate" />
    </bean>

    <bean id="htm" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="ti" class="org.springframework.transaction.interceptor.TransactionInterceptor">
        <property name="transactionManager" ref="htm" />
        <property name="transactionAttributes">
            <props>
                <prop key="*">PROPAGATION_REQUIRED</prop>
                <prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
            </props>
        </property>
    </bean>
    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="beanNames">
            <list>
                <value>common</value>
            </list>
        </property>
        <property name="interceptorNames">
            <list>
                <value>ti</value>
            </list>
        </property>
    </bean>

</beans>